body {
  background-color: tomato;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.log {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.inputan {
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.input1 {
  border: 2px solid black;
  margin-bottom: 5px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  border-radius: 3px;
}
.input2 {
  border: 2px solid black;
  margin-bottom: 5px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  border-radius: 3px;
}
button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  text-align: center;
  border: 0;
  padding: 7px 16px;
  min-height: 36px;
  min-width: 36px;
  color: #ffffff;
  background: #008060;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px,
    rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
  :hover {
    background: #006e52;
  }
}
.heading {
  font-family: Arial, Helvetica, sans-serif;
}

.register a {
  font-size: 12px;
}

.containerReg {
  width: 200px;
  height: 270px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  margin: auto;
}

.containerReg h1 {
  font-family: Arial, Helvetica, sans-serif;
}
.containerReg label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.containerReg input {
  border: 2px solid black;
  border-radius: 3px;
  padding: 5px;
}
.containerReg button {
  margin-top: 10px;
}

.containerReg a {
  text-align: right;
  font-size: 12px;
}
